.page-content{
    min-height: 670px;
}
#nav-list a{
    cursor: pointer;
}

.footer-font{
    color: #8c8c8c;
    text-decoration: none;
}
.footer-font a{
    color: #8c8c8c;
    text-decoration: none;
}

.footer-font a:hover{
    color: #8c8c8c;
    text-decoration: none;
}
